{{define "users"}}
<h1>Users</h1>
<table border="1" style="margin-bottom: 1rem;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>⌫</th>
        </tr>
    </thead>
    <tbody>
        {{range .Users}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Username}}</td>
                <td>{{.Email}}</td>
                <td><form action="/delete-user" method="post">
                    <input type="hidden" name="id" value="{{.ID}}">
                    <input type="submit" value="⌫">
                </form></td>
            </tr>
        {{else}}
            <tr>
                <td colspan="4">No users found</td>
            </tr>
        {{end}}
    </tbody>
</table>
{{end}}